.Body {
  background-color: rgb(199, 204, 255);
}

.Head {
  background-color: rgb(70, 112, 125);
  height: 40px;
}

.Side {
  width: 200px;
  margin: 5px;
  margin-left: 2px;
  margin-bottom: 2px;
  background-color: rgb(82, 103, 138);
}
