.Login {
  position: relative;
  display: block;
  left: 25vw;
  top: 10vh;
  width: 50vw;
  height: 50vh;
  background-color: white;
  border-radius: 2px;
}
.Login > div {
  padding: 10px;
  margin-bottom: 1px;
  background-color: aliceblue;
}
.Details {
  margin: auto;
}
.Options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.Option {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  width: 25%;
  text-align: center;
}
.Option:hover {
  background-color: #d8edff;
}
.Input {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 1rem;
  text-align: center;
}
.Active {
  background-color: #8dcaff;
}
.Data {
  padding-bottom: 2px;
  position: relative;
  width: 100%;
  font-size: 1rem;
}
.Data > div {
  display: inline-block;
}
.Get {
  position: absolute;
  width: 60%;
  right: 20%;
}
.Connect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  width: 25%;
  width: 50%;
  text-align: center;
  border: 1px #5cb3ff solid;
}
.Connect:hover {
  background-color: #abd8ff;
}
.Connect:active {
  background-color: aliceblue;
}
.hrefright {
  position: absolute;
  right: 10px;
}
