@Background: rgba(255, 255, 255, 0.408);
@TextColor: rgb(19, 19, 19);
@fTextColor: rgb(246, 246, 246);

@GivenBack: rgba(255, 255, 255, 0.485);
@fGivenBack: rgba(41, 25, 25, 0.458);
// background is the total background

@SecondColor: rgb(205, 191, 116);

*,
*::before,
*::after {
  box-sizing: border-box;
}
